#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.buttons-container {
  display: flex;
  gap: 20px;
  /* Space between the two sections */
}

.number-buttons,
.operator-buttons {
  display: grid;
  gap: 10px;
  /* Space between rows in each section */
}

.number-buttons {
  grid-template-columns: repeat(3, auto);
  /* 3 buttons per row */
}

.operator-buttons {
  grid-template-columns: auto;
  /* Single column for operators */
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: lightgray;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: darkgray;
}